In [2]:
import numpy as np
import pandas as pd
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [3]:
#! pip install pyspark --upgrade

In [4]:
import findspark
findspark.init(r'C:\Users\devenv\SPARK\spark-3.3.1-bin-hadoop3')
findspark.find()
import pyspark
findspark.find()

'C:\\Users\\devenv\\SPARK\\spark-3.3.1-bin-hadoop3'

In [5]:
# os.chdir(r'C:\Users\devenv\SPARK\spark-3.0.0-preview2-bin-hadoop2.7')
pyspark.__version__

'3.3.1'

In [6]:
# this bit is in both the medium article and learning spark
from pyspark import SparkContext, SparkConf

In [7]:
# this bit is just in the medium article
from pyspark.sql import SparkSession

In [8]:
# Import PySpark Pandas
import pyspark.pandas as ps

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [9]:
# conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
# see https://spark.apache.org/docs/latest/configuration.html#application-properties for app properties
# app name is defined as The name of your application. This will appear in the UI and in log data. 
conf = SparkConf().setAppName('appName').setMaster('local')
# setMaster(value) − To set the master URL
# Master could be "local[2]" and set up multple "threads" or look like .setMaster("spark://master:7077")
# you can also set the config blank and pass conf parameters at run time e.g. via the command line
# this example is given
# ./bin/spark-submit --name "My app" --master local[4] --conf spark.eventLog.enabled=false myApp.py

# SparkConf() will load the values from spark.* Java system properties as well as what we pass

In [10]:
# the book
sc = SparkContext(conf=conf)
# this just medium
# sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc) # we seem to need this or we error

# sc.stop()

In [11]:
nums = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [12]:
type(nums)

pyspark.rdd.RDD

In [13]:
nums.take(3)

[1, 2, 3]

In [14]:
nums.map(lambda x: x * x).collect()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
num1 = nums.map(lambda x: [y for y in range(x * x)])

In [16]:
num1, type(num1)

(PythonRDD[3] at RDD at PythonRDD.scala:53, pyspark.rdd.PipelinedRDD)

In [17]:
num1.collect()

[[0],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24],
 [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35],
 [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48],
 [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63],
 [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80],
 [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99]]

In [18]:
gb = nums.groupBy(lambda x : x % 2 == 0).collect()

In [19]:
gb

[(False, <pyspark.resultiterable.ResultIterable at 0x1c378113cc0>),
 (True, <pyspark.resultiterable.ResultIterable at 0x1c3771186a0>)]

In [20]:
group_object = num1.groupBy(lambda x : int(len(x)/10)).collect()

In [21]:
group_object

[(0, <pyspark.resultiterable.ResultIterable at 0x1c378178cc0>),
 (1, <pyspark.resultiterable.ResultIterable at 0x1c378178d68>),
 (2, <pyspark.resultiterable.ResultIterable at 0x1c378178e48>),
 (3, <pyspark.resultiterable.ResultIterable at 0x1c378178d30>),
 (4, <pyspark.resultiterable.ResultIterable at 0x1c378178eb8>),
 (6, <pyspark.resultiterable.ResultIterable at 0x1c378178ef0>),
 (8, <pyspark.resultiterable.ResultIterable at 0x1c378178f28>),
 (10, <pyspark.resultiterable.ResultIterable at 0x1c378178f60>)]

In [22]:
firstGroup = group_object[0]
[x for x in firstGroup]

[0, <pyspark.resultiterable.ResultIterable at 0x1c378178cc0>]

In [23]:
[x for x in firstGroup[1]]

[[0], [0, 1, 2, 3], [0, 1, 2, 3, 4, 5, 6, 7, 8]]

In [24]:
nums.name()

In [25]:
lines = sc.textFile('C:\Shared Files\example_data_(002)\Questions.csv')

In [26]:
psLines = ps.read_csv('C:\Shared Files\example_data_(002)\Questions.csv')

C:\Users\devenv\SPARK\spark-3.3.1-bin-hadoop3\python\pyspark\pandas\utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [27]:
pdLines = pd.read_csv('C:\Shared Files\example_data_(002)\Questions.csv')

In [31]:
print(type(lines), type(psLines), type(pdLines))

<class 'pyspark.rdd.RDD'> <class 'pyspark.pandas.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

In [ ]:
%timeit psLines.describe()

In [33]:
%timeit pdLines.describe()

13.3 ms ± 759 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

11.3 ms ± 553 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [21]:
psLines.groupby('ScaleID').sum()

         ContentID  QNumber  Sequence  QuestionID  QuestionTypeID
ScaleID
30            3070      210      3610    20293190              20

In [22]:
pdLines.groupby('ScaleID').sum()

         ContentID  QNumber  Sequence  QuestionID  QuestionTypeID
ScaleID
30            3070      210      3610    20293190              20

In [18]:
lines.count(), lines.first()

(21, 'ContentID,QNumber,Sequence,QuestionID,QuestionTypeID,LocalText,ScaleID')

In [19]:
type(lines)

pyspark.rdd.RDD

In [ ]:
lines

In [20]:
pylines = lines.filter(lambda x: 'leader' in x)

In [ ]:
pylines, pylines.count()

In [ ]:
type(pylines)

In [ ]:
pylines.first(), type(pylines.first())

In [ ]:
pylines.first().split(',')[1]

In [ ]:
pylines.take(1) # returns a list

In [ ]:
pylines.take(1)[0].split(',')

In [ ]:
help(lines.map)

In [ ]:
lines.map(lambda x: (x, 1)).take(5)

In [ ]:
lines.map(lambda x: (x, 1)).take(5)[0],\
type(lines.map(lambda x: (x, 1)).take(5)[0]),\
type(lines.map(lambda x: (x, 1)).take(1))

In [ ]:
type(lines.map(lambda x: (x, 1))), type(lines)

In [ ]:
help(pyspark.rdd.PipelinedRDD)

In [ ]:
type(lines.foreach(lambda x : x + 'dude'))

In [ ]:
lines.collect()

In [ ]:
lout = [x for x in range(lines.count())]

In [ ]:
lout

In [ ]:
seqOp = (lambda x, y: (x[0] + y, x[1] + 1))
combOp = (lambda x, y: (x[0] + y[0], x[1] + y[1]))
agg_tst = sc.parallelize([1, 2, 3, 4])
agg_tst_2 = sc.parallelize([1, 2, 3, 4], 2)

In [ ]:
agg_tst.collect(), agg_tst_2.collect()

In [ ]:
agg_tst.glom().collect(), agg_tst_2.glom().collect()

In [ ]:
agg_tst.aggregate((0, 0), seqOp, combOp)
#      (10, 4)
#  sc.parallelize([]).aggregate((0, 0), seqOp, combOp)
#    (0, 0)

In [ ]:
help(lines.glom)

In [ ]:
agg_tst.collect()

In [ ]:
agg_tst_2.collect(), agg_tst_2.glom().collect()

#### function testing

In [ ]:
a = sc.parallelize([1,2,3,4], 2)

In [ ]:
type(a)

In [ ]:
rspDf = spark.read.option("header", True).csv(r"C:\Shared Files\example_data_(002)\ResponseData.csv")

In [ ]:
rspDf.take(2)

In [ ]:
type(rspDf)

In [ ]:
smmry = rspDf.summary().collect()
smmry

In [ ]:
pd.DataFrame(smmry) # hmm no headers...

In [ ]:
# pass to the list to spark df 
smmrySDf = spark.createDataFrame(smmry)
smmrySDf.show()

In [ ]:
# then pandas df
smmryPDf = smmrySDf.toPandas()
smmryPDf

In [ ]:
rspDf.columns

In [ ]:
rspDf.stat.freqItems(['Response'], support=.99).collect()

In [ ]:
rspDf.Response

In [ ]:
rspDf.Response.contains('1')

In [ ]:
rspDf.select(rspDf.Response.contains('1')).show(5)

In [ ]:
rspDf.show(5)

In [ ]:
rspDf_int_resp = rspDf.withColumn('Response', rspDf.Response.cast('int'))
rspDf_int_resp.groupby('QuestionID').sum('Response').show(5)

In [ ]:
rspDfgp =(
rspDf  # rspDf_int_resp
.groupby(['QuestionID','ResponseID'])
.agg({'Response':'count'})  # .count()  # .max('Response')
.sort('QuestionID')
.filter(rspDf.QuestionID.isin(['1014663','1014649']))
) 
rspDfgp.show(5)

In [ ]:
rspDfgp.filter(rspDfgp['count(Response)'] > 1).select('ResponseID').show()  #.select(rspDfgp.ResponseID).show()

In [ ]:
qrDf = rspDf.groupby(['QuestionID', 'Response']).count() # get a pivot of question ids and responses
qrDf.sort('count', ascending=False).show(n=5)

In [ ]:
# maybe simpler in sql
try:
    rspDf.createTempView("rspsql")
except Exception as e:
    print(e)
    pass

In [ ]:
spark.sql(
'''select QuestionID,
ResponseID,
count(Response)
from rspsql
where QuestionID
in (\'1014663\',\'1014649\')
group by QuestionID, ResponseID
having count(Response) >1
''').show()

In [ ]:
# we can do correlared subqueries
spark.sql(
    '''select distinct QuestionID,
    (select max(a.Response) from rspsql a where a.QuestionID = b.QuestionID and response <> 5)
    from rspsql b''').show(10)

In [ ]:
# returns a useable pyspark dataframe
type(spark.sql(
    '''select distinct QuestionID,
    (select max(a.Response) from rspsql a where a.QuestionID = b.QuestionID and response <> 5)
    from rspsql b''')
    )

In [ ]:
import pyspark.sql.functions as sf

In [ ]:
top5qrDf = qrDf.groupby(['QuestionID']).agg(sf.sum('count').alias('nrResponses')) \
                                            .sort('nrResponses', ascending=False).take(5)
print(top5qrDf, '\n')
top5QLs = [x.QuestionID for x in top5qrDf]
print(top5QLs, '\n')
top5Qs = qrDf.filter(qrDf.QuestionID.isin(top5QLs)).sort('QuestionID')
top5Qs.show()

In [ ]:
# how about we add a column to top5Qs to show the total responses for that question
QuestionResponses = qrDf.groupby(['QuestionID']).agg(sf.sum('count').alias('nrResponses')) \
                                        .sort('nrResponses', ascending=False)
print(QuestionResponses.head(2),'\n')
thig = top5Qs.join(QuestionResponses, on='QuestionID', how='inner')
thig.show(n=100)

In [ ]:
print(rspDf.rdd.getNumPartitions())
rep_rspDf = rspDf.repartition(8)
rspDf.rdd.getNumPartitions(), rep_rspDf.rdd.getNumPartitions()

In [ ]:
# mapPartitons & mapPartitionsWithIndex - pass the partition to the function with values as an iteraror.
# This is more efficient as instances (i.e functions) only have to be created once per partition not for each element

tst = sc.parallelize([[1, 2], [2, 3], [3, 4], [4, 5]], 4)
def f(ix, val): yield (ix, type(val))
tst.mapPartitionsWithIndex(f).collect()  # WithIndex

In [ ]:
tst = sc.parallelize([[1,2], [2,3], [3,4], [4,5]], 4)
def f(ix, val): yield (ix, [x for x in val][0])
tst.mapPartitionsWithIndex(f).collect()  # WithIndex

In [ ]:
tst = sc.parallelize([[1,2], [2,3], [3,4], [4,5]], 4)
def f(ix, val): return (ix, type(val))
tst.mapPartitionsWithIndex(f).collect() #WithIndex

In [ ]:
tst = sc.parallelize([[1,2], [2,3], [3,4], [4,5]], 4)
def f(ix, val): return (ix, [x for x  in val][0])
tst.mapPartitionsWithIndex(f).collect() #WithIndex

In [ ]:
tst = sc.parallelize([[1,2], [2,3], [3,4], [4,5]], 4)
def f(ix, val): return (ix, *val)
tst.mapPartitionsWithIndex(f).collect() #WithIndex

In [ ]:
tst = sc.parallelize([[1,2], [2,3], [3,4], [4,5]], 4)
def f(ix, val): yield (ix, *val)
tst.mapPartitionsWithIndex(f).collect() #WithIndex

In [ ]:
tst = sc.parallelize([[1,2], [2,3], [3,4], [4,5]], 4)
def f(ix, val): yield [x for x in val][0]
tst.mapPartitionsWithIndex(f).collect() #WithIndex

In [ ]:
tst = sc.parallelize([[1,2], [2,3], [3,4], [4,5]], 4)
def f(ix, val): return [x for x in val][0]
tst.mapPartitionsWithIndex(f).collect() #WithIndex

In [ ]:
arrayData = [
        ('James',['Java','Scala'],{'hair':'black','eye':'brown'}),
        ('Michael',['Spark','Java',None],{'hair':'brown','eye':None}),
        ('Robert',['CSharp',''],{'hair':'red','eye':''}),
        ('Washington',None,None),
        ('Jefferson',['1','2'],{})]
dfNms = spark.createDataFrame(data=arrayData, schema=['name','knownLanguages','properties'])
dfNms.show(truncate=False)

In [ ]:
from pyspark.sql.functions import explode
dfNms2 = dfNms.select(dfNms.name, explode(dfNms.knownLanguages).alias('knownLanguages'), dfNms.properties)
dfNms2.printSchema()
dfNms2.show()

In [ ]:
dfNms3 = dfNms2.select(dfNms2.name, dfNms2.knownLanguages, explode(dfNms2.properties))
dfNms3.printSchema()
dfNms3.show()

#### More Testing out Pyspark DataFrames

In [ ]:
respdf1 = spark.read.option("header", True).csv(r"C:\Shared Files\example_data_(002)\ResponseData.csv")

In [ ]:
type(respDf1)

In [ ]:
respdf1.show(5)

In [ ]:
qdf1 = spark.read.option("header", True).csv('C:\Shared Files\example_data_(002)\Questions.csv')

In [ ]:
qdf1.show(5)

In [ ]:
(qdf1.count(), len(qdf1.columns)) # gets us the shape

In [ ]:
qdf1.describe().show()

In [ ]:
qdf1.summary().show()